<!DOCTYPE html>
<html>
 
<style>

body { 
background: white; 
font-family: system-ui;
color: black
} 

/* Light Mode */
@media (prefers-color-scheme: dark) {

body { 
background-color: #1E1E1E; 
color: #fff 
} /* Dark Mode */
}
    <head>
        <title>Calbot - Calculator</title>
    </head>
    <body>
        HTML Options
26
        <button class="key numeric" ng-click="print(3)">3</button>
27
        <button class="key function" ng-click="add()">+</button>
28
      </div>
29
      <div class="row">
30
        <button class="key numeric double" ng-click="print(0)">0</button>
31
        <button class="key numeric" ng-click="print('.')">.</button>
32
        <button class="key function last" ng-click="equal()">=</button>
33
      </div>
34
    </div>
35
​
36
  </div>
37
</div>
</body>
</html>

          </div>
        </div>
    </body>
</html>
